<mat-slide-toggle [labelPosition]="'before'" [(ngModel)]="checked"
  >{{ labelText }}

  <ng-container>
    <mat-icon #innerButton [inline]="true">{{
      checked ? iconChecked : iconUnchecked
    }}</mat-icon>
  </ng-container>

  <ng-container>
    <div #innerLabel class="inner-label">
      <span class="checked">{{ innerTextChecked }}</span>
      <span class="unchecked">{{ innerTextUnchecked }}</span>
    </div>
    <!-- <span #innerLabel class="inner-label">
      {{ checked ? innerTextChecked : innerTextUnchecked }}
    </span> -->
  </ng-container>
</mat-slide-toggle>
